/* CSS Document */
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

.gm-style img {
    max-width: none;
}

.gm-style label {
    width: auto; display:inline;
}

body {
    background-image: url(../images/bg_head.png);
    background-repeat: repeat-x;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#head {
    background-image: url(../images/bg_head.png);
    background-repeat: repeat-x;    
}
#logosite {
    background-image: url(../images/sitelogo.png);
    background-repeat: no-repeat;
    background-position: left top;    
    float: right;
    height: 73px;
    width: 300px;
    margin-top: 5px;
    margin-right: 5px;
}
#logosite_desc {
    display: inherit;
    margin-left: 80px;
}
#logosite_desc h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #4374cd;
    margin-bottom: 5px;
    line-height:20px !important;
}
#logosite_desc p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    text-align: center;
    color: #666;
    line-height: 18px;
}
#logocard {
    float: left;
    width: 315px;    
    margin-top: 5px;
    margin-left: 5px;
}
#logocard h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #4374cd;        
    margin-bottom: 3px;
    line-height:20px !important;
    text-align: center;
}
#logocard p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #666;
    text-align: center;
}
#logocard img {
    float: left;
}
#hdlink {
    clear: both;
    float: right;
    width: 150px;
    margin-top: -4px;
    margin-right: 5px;
    position:relative;
}
#hdlink a {
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    text-align: right;
    background-image: url(../images/lockIcon.png);
    background-repeat: no-repeat;
    background-position: left 50%;
    float: right;
    padding:5px 5px 5px 12px;

}
#hdlink ul li.user_signed:hover #usermenu{
    visibility:visible;
    opacity:1;
}
#usermenu{
    position: absolute;
    bottom: -110px;
    right: 0;
    width: 200px;
    height: auto;
    z-index: 11;
    background: #fff;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #175F9C;
    border-bottom-color: #175F9C;
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
#usermenu a{
    background-image:none;
    float:none;
    display:inline;
    font-weight:normal;
    color:#333;
    text-decoration:none;
    padding:0;
}
#usermenu table tr td a{
    display:block;
    text-align:left;
}
#mainContent {
    height: auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
#wrapper {
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
    min-width:1024px;
}
#footer {
    background-color: #0b4475;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0px;
    bottom: 0px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    clear: both;
}

#overlayDiv{
    z-index:100;
    position:absolute;
    width:100%;
    height:100%;
    filter:Alpha(opacity=80);
    opacity:0.8;
    -moz-opacity:0.8;
    background-color:#fff;
    top:0;
    left:0;
}
#mapViewDiv{
    position:relative;
    background-color: #EAEAEA;
    float: right;
    margin-left: 3px;
}

#dboardViewDiv{	
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
}
#dboardViewDiv_welcome{
    text-align:center;
    color:#AEAEAE;
}
#dboardViewDiv_welcome h1{
    font-size:28px;
    font-weight:normal;
}
#dboardViewDiv_welcome p{
    margin-top:10px;
    font-size:20px
}

/* Loading animation */
#ball{
    margin-top:20%;
}
#ball p{
    text-align:center;
    margin:-40px;
    font-size:11px;
    color:#666;
}
.ball_loading{
    background-color: rgba(0,0,0,0);
    border: 5px solid #ccc;
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 25px #ccc;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;	
}
.ball_loading1{
    background-color: rgba(0,0,0,0);
    border: 5px solid #ccc;
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #ccc;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}
@-moz-keyframes spin {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
}


/*navbar design*/

#navbar {
    background-color: #175f9c;
    height: 70px;    
    box-shadow: 0px 5px 8px #919191;
    margin-bottom: 15px;
}
#navbar-inner {
    height: inherit;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}
#navbar-inner ul {
    margin: 0px;
}
#navbar-inner ul li {
    float: left;
    list-style-type: none;
    display: block;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #4d84b3;
}
#navbar-inner ul li a {
    color: #FFF;
    font-size: 17px;
    font-family: Verdana, Geneva, sans-serif;
    display: block;
    padding-top: 40px;
    padding-right: 29px;
    padding-bottom: 10px;
    padding-left: 29px;
    text-decoration: none;
}
.focusMenuItem {
    background-color: #3c79ac;

}
#navbar-inner ul li a:hover{
    background-color: #2065a0;
}

#navbar-inner ul li a.mIcon {
    background-repeat: no-repeat;
    background-position: center 7px;
}
#navbar-inner ul li a.mIcon.homeicon {
    background-image: url(../images/home-icon.png);	
}
#navbar-inner ul li a.mIcon.abouticon {
    background-image: url(../images/about-icon.png);
    background-position: center 5px	
}
#navbar-inner ul li a.mIcon.mapicon {
    background-image: url(../images/map-icon.png);	
}	

#navbar-inner ul li a.mIcon.peopleicon {
    background-image: url(../images/people-icon.png);	
}	

#navbar-inner ul li a.mIcon.sitemapicon {
    background-image: url(../images/siteplan-icon.png);	
    background-position: center 13px	
}
#navbar-inner ul li a.mIcon.docicon {
    background-image: url(../images/doc-icon.png);	
}
#leftmenu form .accordionButton h3 {
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
}
#department-list {
    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;

}
#department-list h3 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}
#department-list form select,#data-year form select,#commune-list select {
    width:83.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#layer-type1 {
    display: none;
    position: relative;
}
#department-list form {
    margin: 0px;
}
#moh_div {
    background-color: #EAEAEA;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 100%;
}

#fac_type{
    display:block;
}
#fac_type input {
    margin-top: -1px;
}
.badge.badge-info.stotal {
    filter: Alpha(Opacity=60);
    opacity:.6;
    -moz-opacity:.6;
    -webkit-opacity:.6;
}

.infoWin{
    min-width:300px;
    max-width:515px;
    min-height:140px;
    overflow:hidden;
}
#legendFac{
    min-height: 200px;
    width: 200px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #175F9C;
    box-shadow:0 0 12px #ccc;
    position:absolute;
    bottom:0;
    right:-200px;
    opacity:.9;
    z-index:1001;
    background:#fff;
    display: block;
}
#legendTable{
    min-height: 200px;
    width: 600px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #175F9C;
    box-shadow:0 0 12px #ccc;
    position:absolute;
    bottom:300px;
    right:-600px;
    opacity:.9;
    z-index:1001;
    background:#fff;
    display: block;
}
#legendTable h3{text-align:center;color:#175F9C}

#legendFac_btnShow{
    position:absolute;
    width:auto;
    padding:3px;
    bottom:130px;
    height:auto;
    z-index:1002;
    right:-200px;
    display: block;
    background:#fff;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #175F9C;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow:0 0 10px #ccc;
}
#legendTable_btnShow{
    position:absolute;
    width:auto;
    padding:3px;
    bottom:500px;
    height:auto;
    z-index:1002;
    right:-200px;
    display: block;
    background:#fff;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #175F9C;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow:0 0 10px #ccc;
}
#legendFac_btnShow a,#legendTable_btnShow a{
    width:100%;
    text-decoration:none;
    font-weight:bold;
    color:#666;
}

#legendFac h3{
    text-align:center;
}
#moh_div .logo_moh {
    width: 250px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

#moh_div .logo_moh img {
    width:100%
}
#moh_div  span{
    font-size:24px;
    color: #999;
}
#btn_arrow.btn,#btn_arrow_tab.btn  {
    margin-top: -3px;
    line-height: normal;
    padding-top: 1px;
    padding-bottom:3px;
    padding-left: 9px;
    padding-right:9px;
    margin-right:2px;
}
#mainContent .container-fluid .row-fluid .span10 {
    width: 85%;
    float: right;
}
#searchbar-content {
    background-color: #F7F7F7;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #d8e4ee;
}
#searchbar-content .searchbar-inner {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 40px;
}
#search-field {
    width: 540px;
    height: 40px;
    float: left;
    border-radius: 0;
    margin: 0px;
    z-index: 2;
    opacity: .7;
    -moz-opacity: .7;
    filter: Alpha(Opacity=70);
}
#btnsearch {
    height: 40px;
    width: 50px;
    background-color: #175F9C;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: url(../images/btnsearch.png);
    background-repeat: no-repeat;
    background-position: center;
}
#searchbar-content .searchbar-inner form {
    margin: 0px;
    position: absolute;
    z-index: 2;
}
#mapSearch {
    height: 650px;
    background-color: #F2F2F2;
}

.initial-text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #666;
    text-align: center;
}

#search-result {
    width: 538px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    box-shadow: 0px 5px 8px #ccc;
    left: 0px;
    top: 41px;
    background-color: #FFF;
    z-index: 1000;
    display: none;
}
#placeholder {
    position: absolute;
    top: 11px;
    left: 7px;
    z-index: 1;
}
#placeholder p {
    margin: 0px;
}

.faclink{
    display: block;
    padding-bottom: 8px;
    padding-top: 8px;
    background-image: url(../images/mapicons/bg_pin_marker.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:25px
}

.faclink-resultsearch{
    display:inline;
    padding:0;
    background-image:none;
}

.infofacname{
    font-size:13px;
    color:#B2B2B2
}

/*loading result gif*/
.loading-result{
    zoom: 1;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image:url(https://s-static.ak.facebook.com/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif);
}

#mapinst {
    width: 640px;
    margin-left: 0px;
    float: right;
}
#mainContent .container .row .span4 {
    background-color: #FCFCFC;
    min-height: 386px;	/*box-shadow:0 0 10px #ccc;*/
}

#mainContent .container .row .span4.services,
#mainContent .container .row .span4.infrast,
#mainContent .container .row .span4.activites {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #F60;	
}
#mainContent .container .row .span4.infrast{
    border-top-color: #175F9C;
}

#mainContent .container .row .span4.activites{
    border-top-color: #E25D84;
}

#mainContent .container .row .span4 h2 {
    font-family: "open sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}
#mainContent .container .row .span4#info-inst {
    background-color:#D9EDF7;
}
#info-inst .host_image {
    width: 266px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
#info-inst .host_image img {
    padding: 3px;
    border: 1px solid #CCC;
}
#info-inst .baseInfoFac {
    width: 274px;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
}
#inst_title {
    font-size: 22px;
    font-weight: normal;
}
#info-inst .baseInfoFac .table tr td img {
    filter: Alpha(Opacity=40);
    opacity: .4;
}

#nearby-inst .inst-nearby-item {
    height: 80px;
    width: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    display: none;
}
#nearby-inst .inst-nearby-item .img-inst {
    background-color: #E1E1E1;
    background-image: url('../images/no_thumb_host_80.jpg');
    padding: 3px;
    float: left;
    height: 57px;
    width: 57px;
    overflow: hidden;
}
#nearby-inst .inst-nearby-item .inst-info h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    color: #535353;
    font-weight: normal;
}
#nearby-inst .inst-nearby-item .inst-info {
    padding-left: 67px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
}
#nearby-inst .inst-nearby-item .inst-info span {
    color: #9E9E9E;
}
#tab-section-sia .span12 .nav-tabs li {
    width: 300px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-right:13px;
}

#tab-section-sia .span12 .nav-tabs li a{
    border-top-width: 4px;
    border-top-style: solid;

}
#tab-section-sia .span12 .nav-tabs li:nth-child(1) a{
    border-top-color: #F60;
}
#tab-section-sia .span12 .nav-tabs li:nth-child(2) a{
    border-top-color: #175F9C;
}
#tab-section-sia .span12 .nav-tabs li:nth-child(3) a{
    border-top-color:#B94A48;
}
#search-result .initial-text span {
    font-size: 12px;
    color: #999;
    font-style: italic;
}
.lg_dpop_color {
    background-color:#CCC;
    height: 16px;
    width: 16px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
table.legend_dpop tr th.legend_title{
    text-align:left;
    color:#175F9C;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}

table.legend_dpop tr td{
    font-size:12px;
}
table.legend_dpop tr td img{
    display: block;
    width: 58px;
    margin-left: auto;
    margin-right: auto;
}#content-info-dboard {
    text-align: center;
}
#dboard-data-year-list,
#dboard-ind-list,
#dboard-data-month-list {
    width: 100%;
}

#search-result-occ {
    width: 250px;
    border: 1px solid #CCC;
    height: 400px;
    overflow:auto;
    position: absolute;
    z-index: 3;
    top: 8%;
    right: 1%;
    background-color: #FFF;
    box-shadow:0px 0px 12px 1px #ccc;
    display:none;
}
#cs-chart-area,
#cs-mapchart-area {
    display: block;
    overflow: hidden;
}

#cs-chart-area iframe,
#cs-mapchart-area iframe {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#dataTables-acc{
    display:none;
}

/*css style for custom button of the maptype control*/
.custom-btn-maptypctrl{
    padding-left:4px;
    padding-right:4px;
    font-size:12px;
    font-family:Arial,sans-serif;
    position:relative;
}
.custom-btn-maptypctrl ul{
    margin:0
}
.custom-btn-maptypctrl > ul > li >ul{
    position:absolute;
    border-top:2px #175F9C solid;
    width:150px;
    top:22px;
    left:0;
    z-index:20;
    background:#fff;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    filter: Alpha(Opacity=0);
    opacity: 0;
}
.custom-btn-maptypctrl > ul > li >ul>li> a{
    display:block;
    padding:3px;
    text-align:left;
    border-bottom:1px #ccc solid;
}

.custom-btn-maptypctrl > ul > li:hover ul{
    filter: Alpha(Opacity=100);
    opacity: 1;
}

#changingpassw {
    display: none;
}
#changingpassw_body {
    display: none;
}
#opt_filter_dcartserv {
    position: absolute;
    right: 10px;
}
#opt_filter_dcartserv_menu{
    position: absolute;
    right: -100.5%;
    top: 5px;
    width: 100%;
    height: auto;
    z-index: 11;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    filter: Alpha(Opacity=95);
    opacity: .95;
    background-color: #fff;
    box-shadow: 1px 0 10px #EAEAEA;
    border: 1px dashed #CCC;
    display:none;
}
#opt_filter_dcartserv_menu a{
    background-image:none;
    float:none;
    display:inline;
    font-weight:normal;
    color:#333;
    text-decoration:none;
    padding:0;
}
#opt_filter_dcartserv_menu table tr td a{
    display:block;
    text-align:left;
}
#opt_filter_dcartserv_menu h2 {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #175F9C;
    color: #FFF;
    margin: 0px;
}

.bold{
    font-weight:bold;
}